<template>
    <label for.bind="inputId" class="font-weight-bold text-sm-flex-left text-md-flex-right" class.bind="labelClass">${displayName}</label>
    <div class="input-group" class.bind="groupClass">
        <slot name="before"></slot>
        <div class="form-control">
            <div as-element="bootstrap-select" class="w-100 px-0 py-0" display-name.bind="displayName" options.bind="options" selected.two-way="value"></bootstrap-select>
        </div>
        <slot name="after"></slot>
    </div>
</template>